{% load static %}
{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}
<!DOCTYPE html >
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register to siteworks</title>
        <link rel="stylesheet" href="{% static 'css/registration.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
<!-- register Window-->
        <div class = "wrapper">
            <div class="form-wrapper sign-up"><!--add id="login"--> 
                <form method="POST" action="{% url 'registration' %}"><!-- action="{% url 'login' %}" -->
                    {% csrf_token %}
                    {{ form.as_p }}
                    <h1>Sign Up</h1>
                    <div class="input-group">
                        <input type="text" id = "username" name = "username"required>
                        <label for ="username">Username</label>
                    </div>
                    <div class="input-group">
                        <input type="email" id="email"name="email" placeholder="Enter your email" pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$" required>
                        <label for ="email">Email</label>
                    </div>
                    <div class="input-group">
                        <input type="password" id="password"name="password" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&]).{8,}$"  required>
                        <label for ="password">Password</label>
                    </div>
                    <div class="input-group">
                        <input type="password"id="confirm_password"name="confirm_password" required>
                        <label for ="confirm_password">Confirm Password</label>
                    </div>
                    <div class="input-phone">
                        <label>Phone Number:</label>
                        <select id="country-code">
                            <option value="+254">+254 (Kenya)</option>
                        </select>
                        <input type="text" placeholder="e.g 712345678" name= "phone_number" id="phone_number" pattern="^\d{9}$" required/>
                    </div>
                    <div class="role-selection">
                        <label for="role"id="role">Choose Your Role:</label>
                        <label>
                            <input type="radio" name="role" id = "employer" value="Employer" checked> Employer</label>
                        <label>
                            <input type="radio" name="role"id="worker" value="Worker"> Worker
                        </label><label>
                            <input type="radio" name="role" id="ambassador" value="Ambassador"> Ambassador</label>
                    </div>
                    <div class ="remember">
                        <label ><input type="checkbox" required>I agree to the terms & conditions </label>
                    </div>
                    <button type="submit"name= "signUp">Sign Up</button>
                    <div class="signUp-link">
                        <p>Already have an account? <a href="{% url 'signin' %}" class="signInBtn-link">Log in</a></p>
                    </div>
                    <div class="social-icons">
                        <a href="#"><i class='bx bxl-google'></i></a>
                        <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                        <a href="#"><i class='bx bxl-github'></i></a>
                        <a href="#"><i class='bx bxl-linkedin-square'></i></a>
                    </div>
                </form>
            </div>
        </div>
        <script src="{% static 'js/registration.js' %}"></script>
    </body>
</html>